@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using ClinicManagementFrontEnd.Classes
@model List<ClinicManagementCommon.Models.PatientReport>
@inject ClinicManagementFrontEnd.Lookup.iLookup iLookup
<button type="button" id="SearchBtn" class="btn btn-primary">Submit</button>
<div class="card-body">

    <div class="table-responsive-md table-bordered border mb-0">
        <table id="tblReport" class="table table-bordered border-0	table-striped-secondary text-dark-m1 mb-0">
            <thead>
                <tr class="text-black brc-black-tp10">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Dob</td>
                        <td>@item.Disease</td>
                        <td>@item.VisitDetail</td>
                        <td>@item.VisitDate</td>
                        <td>@item.Doctor</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div><!-- /.card-body -->
